@charset "UTF-8";

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

body {
  background: #edf0f1;
  padding: 80px 0 0 0;
}

body, input, button {
  font-family: 'Roboto', sans-serif;
}
